$color-white: #ffffff;

$color-black : #1F2D3D;
$color-steel : #273444;
$color-smoke : #E0E6ED;
$color-snow : #F9FAFC;
$color-snow-light: #f4f8ff;

$color-light-marvel : #85D7FF;
$color-marvel : #1FB6FF;
$color-dark-marvel : #009EEB;