@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

$font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$font-size-default: 1em;
$font-size-large: 2em;
$font-size-small: 1.2em;
$font-size-medium: 1.5em;