body {
  font-family: $font-family;
  letter-spacing: 0.03em;
  font-size: 16px;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  padding: $space-medium;
}