<div class="container">
	<h1>List of Users</h1>
	<h3>Click user name to show more details</h3>
	<!-- {{$ctrl.users}} -->
	<div class="card-deck">
		<div class="card" ng-repeat="user in $ctrl.users | orderBy:'name'">
			<button class="card-box"  ng-click="$ctrl.updateUserDetail(user)" >
				<div class="card-header">
					<h2>{{user.name}}</h2>
				</div>
				<div class="card-body">
					<div><span>Username:</span> {{user.username}}</div>

					<div><span>Email:</span> <a href="mailto:{{user.email}}">{{user.email}}</a></div>
					
					<div><span>Website:</span> {{user.website}}</div>
					
					<div><span>Company:</span> {{user.company.name}}</div>
				</div>
			</button>
		</div>
	</div>
	<user-details ng-if="$ctrl.user" user="$ctrl.user" on-update="$ctrl.updateUserDetail()"></user-details>
</div>
