<div class="modal">
  <div class="modal-body">
    <button class="modal-close" ng-click="$ctrl.onUpdate()">x</button> 
    <h4>Personal Information:</h4>
    <p><strong>Name:</strong> {{$ctrl.user.name}}</p>
    <p><strong>UserName:</strong> {{$ctrl.user.username}}</p>
    <p><strong>Email:</strong>  {{$ctrl.user.email}}</p>
    <p><strong>Phone:</strong>  {{$ctrl.user.phone}}</p>
    
    <h4>Company Information:</h4>
    <p><strong>Company Name:</strong> {{$ctrl.user.company.name}}</p>
    <p><strong>Company Description:</strong> {{$ctrl.user.company.bs}}</p>
    
    <h4>Address:</h4>
    <address> 
    <p>
      {{$ctrl.user.address.suite}}, {{$ctrl.user.address.street}}<br/>
      {{$ctrl.user.address.city}} - {{$ctrl.user.address.zipcode}}
    </p>
    </address>   
  </div>
</div>
